[build]
  command = "npm run build"
  publish = "dist"
[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/favicon.png"
  to = "/favicon.png"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
